<nav fxLayout="row" fxLayoutAlign="center center">
    <button mat-icon-button routerLink="about">
        <mat-icon [inline]="true">face</mat-icon>
    </button>
    <button mat-icon-button routerLink="projects">
        <mat-icon [inline]="true">dynamic_feed</mat-icon>
    </button>
    <a routerLink="/"><img src="../assets/face@0,25x.png"></a>
    <button mat-icon-button routerLink="exp">
        <mat-icon [inline]="true">work</mat-icon>
    </button>
    <button mat-icon-button routerLink="contact">
        <mat-icon [inline]="true">message</mat-icon>
    </button>
</nav><!--nav bar-->
