<footer fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="0.5em" class="footer">
    <div fxLayoutAlign="center end">
        Made on a <mat-icon>laptop</mat-icon> by Jenny
    </div>
    <div fxLayoutAlign="space-evenly center" fxLayoutGap="1em">
        <a href="https://github.com/egg-bread" target="_blank">
            <fa-icon [icon]="['fab', 'linkedin']" size='2x'></fa-icon>
        </a>
        <a href="https://www.linkedin.com/in/qiaojenny" target="_blank">
            <fa-icon [icon]="['fab', 'github']" size='2x'></fa-icon>
        </a>
    </div>
</footer>