<app-header></app-header>
<div fxLayout="column" fxLayoutAlign="center center">
    <div class="container">
        <h1 class="headline">Hi there!</h1>
        <p>I'm Jenny, a Computer Science Co-op student in my (senior - 1) year at the University of Waterloo. Right now, I'm
            interested in working with tech that impacts the finance sector and data processing products. On the backend, I have experience in
            C++, Java, and Python (in order of familiarity) through courses, internships, and projects. On the flip
            side, I've dabbled in React Native and Angular through internships and personal projects.</p>
        <p>
            <b>Why CS?</b>
            When I first started university, I was in Honours Math at UW.
            There's a ton of majors available under this program, but I wasn't so sure which one to declare.
            Under the advice of my parents, I was planning on declaring actuarial science after taking my first course
            in the field: ACTSC 231.
            It was painfully boring to me and I knew right then that I would never pursue a career in actuarial science.
            It's very important for me to be in a field I enjoy. Otherwise, my job will feel like a never-ending chore
            rather than a paid hobby.
        </p>
        <p>
            Although there were countless (yet finite) other majors available to me, none of them appealed to me as much
            as CS. I loved the knowledge I gained from the few CS courses I got to take in first year, and the course
            material actually made sense to me!
            But there's a catch: of all the majors available in Honours Math, CS is NOT a declarable option unless
            you're already in CS.
            On a whim, I applied for a transfer, and got accepted. Now, I'm on the road to get my Bachelor's of CS, with
            a projected graduation date of June 2022!

        </p>
        <p>
            <b>Do I do non-techy things?</b>
            In my spare time, I turn the kitchen into a saccharine chemistry lab: I bake!
            I like to make yeasted breads, cookies, muffins, and cakes.
            My proudest creation? This <i>light but perfectly sweet <a
                    href="https://www.youtube.com/watch?v=6SKReWv_0YU" target="_blank">peach cheesecake</a></i> that I compiled over 2
            days.
            I'm also an avid fan of the Korean singer, IU (not user interface). I love true (and false) crime
            shows. Among my favourites are Criminal Minds and Law & Order SVU.
        </p>
    </div>

</div>