<app-header></app-header>
<div fxLayout='column' fxLayoutAlign='center center'>
    <div class="container">
        <h1 class='headine'>Experience</h1>
        <p>
            Extracurricular-wise, I've also been involved with Math Orientation 2019 as a Math Orientation Director
            working on Media Design from Jan - Sept 2019.
            The orientation team logos, theme intro video, and other logo'd goodies? The graphics were all created by
            the Media Design team :)
        </p>

        <div class="history-tl-container">
            <ul class="tl">
                <li class="tl-item">
                    <div class="item-title">Full Stack Developer</div>
                    <div class="item-detail">SS&C Technologies, Toronto, ON | Sept - Dec 2019, May - Aug 2020</div>
                    <div class="item-detail">
                        • Integrated proprietary cloud deployment with GitLab CI through Ansible playbooks
                        <br />
                        • Implemented client apps for wrapped traditional CICS view calls in Java and Angular, following
                        OIDC Code Flow and OAuth 2.0 Client Credentials Grant Flow
                        <br />
                        • Created a custom Keycloak provider to add additional JWT claims based on the brokered identity
                        provider
                        <br />
                        • Attached distributed tracing for a client and server app with Spring Cloud Sleuth and Zipkin
                    </div>
                </li>
                <li class="tl-item">
                    <div class="item-title">Student Analyst</div>
                    <div class="item-detail">Canadian Intellectual Property Office, Gatineau, QC | Jan - Apr 2019</div>
                    <div class="item-detail">
                        • Created visualizations of heatmaps, chord diagrams, and Sankey networks for intellectual
                        property data from economies part of the Asia-Pacific Economic Cooperation in R
                        <br />
                        • Wrote a Python script that utilized supervised learning to deduplicate patent inventor names
                        with a precision rate of 95%
                        <br />
                        • Presented the culmination of the work term's projects and their benefits to all senior
                        executives, including the CEO
                    </div>
                </li>

            </ul>
        </div>

    </div>
</div>