<app-header></app-header>
<div fxLayout='column' fxLayoutAlign='center center'>
    <div class="container">
        <h1 class='headline'>Projects</h1>
        <p>Cellery:
            <br/>
            A skincare journal app where users create daily logs rating their skin condition, what products they use in their skin routines (AM and PM routine), and attach pictures to track their skin condition.
            Built in React Native with a Java backend as a Spring Boot app. The backend API uses MySQL and Spring Data JPA.
            This is still a project in the works with other features planned.
        </p>
        
        <p>sola:
            <br/>
            A Python script/GUI for the now defunct game Otogi: Secret Spirit Agents that is fed a game data file, converting
            it from JSON to CSV for improved human readability. Completed shortly after I finished taking CS 116, a course that uses Python.

        </p>

        <p>Take a look at my GitHub <a href="https://github.com/egg-bread" target="_blank">@egg-bread</a> for the code and other projects not described here :)</p>
    </div>
</div>